

.container {
  display: flex;
  margin: 150px;
  justify-content: space-evenly;
  margin: auto; 
  padding-top: 20px;

}

.Titles {
  justify-content: right;
  
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 
.brunch-image {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100%;
  background: url(./Components/Images/.brunch.jpeg);
  background-position: left;
  background-size: fill;
  background-repeat: no-repeat;
}
/*  */
.chinese-image{

}

.mexican-image {

}

.smokehouse-image {

}

.sushi-image{

}
] */

/* .bg-image {
  outline: 2px solid black; 
  padding: 200em;
  background-image: url("./Images/bg.jpg"); 
  background-repeat: no-repeat; */

}